requests
bs4
pyyaml
sympy
symengine
numpy
jupyter
rise
click
pytest
ipytest
pillow
jinja2
numba
cython
pybind11
matplotlib
git+https://github.com/aldanor/ipybind.git
git+https://github.com/mgaitan/fortran_magic.git
ipywidgets
mypy
nb_mypy